body {
    font-family: Arial, sans-serif;
    background-color: rgb(172, 242, 251);
    color: #222;
}

h1 {
    font-size: 40px;
    color: black;
    margin-top: 30px;
}

h2 {
    color: black;
    margin-top: 30px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
}

main {
    margin-top: 30px;
}


@media (max-width: 575px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
    }
}


@media (min-width: 576px) and (max-width: 768px) {
    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 16px;
    }
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
    justify-content: center;
}

.box {
    width: 30%;
    padding: 30px;
    background-color: rgb(180, 220, 230);
    border: 1px solid black;
    text-align: center;
}

.project-card {
    background-color: rgb(217, 186, 250);
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
}

.sidebar {
    margin-top: 30px;
    background-color: lightgray;
    border: 1px solid black;
    padding: 20px;
}


@media (min-width: 576px) and (max-width: 768px) {

    .box {
        width: 45%;
    }

}

@media (max-width: 575px) {

    .boxes {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .box {
        width: 100%;
    }

}

.grid-box {
    background-color: rgb(255, 211, 248);
    border: 1px solid black;
    padding: 30px;
    text-align: center;
}